audioread==3.0.1
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cycler==0.12.1
decorator==4.4.2
idna==3.7
imageio==2.34.1
imageio-ffmpeg==0.4.9
joblib==1.4.2
kiwisolver==1.4.5
lazy_loader==0.4
librosa==0.10.2
llvmlite==0.42.0
matplotlib==3.4.2
moviepy==1.0.3
msgpack==1.0.8
networkx==3.3
numba==0.59.1
numpy==1.26.4
opencv-python-headless==4.9.0.80
packaging==24.0
pillow==10.3.0
platformdirs==4.2.1
pooch==1.8.1
proglog==0.1.10
pycparser==2.22
pyparsing==3.1.2
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
python-dateutil==2.9.0.post0
requests==2.31.0
resampy==0.4.3
scikit-image==0.23.2
scikit-learn==1.4.2
scipy==1.13.0
six==1.16.0
soundfile==0.12.1
soxr==0.3.7
threadpoolctl==3.5.0
tifffile==2024.4.24
tqdm==4.66.4
typing_extensions==4.11.0
urllib3==2.2.1
